.smallTitle {
    text-transform: uppercase;
    color: $color;
    font-style: normal;
    font-weight: 700;
    font-family: Raleway, serif;
    font-size: 1.4rem;
    letter-spacing: 5px;
}

.bigTitle {
    font-size: 4.6rem;
    font-weight: 400;
}