footer {
    background-color: #000000;
    height: 50px;
    color: #fff;
    
    .container {
        height: inherit;
        
        .row {
            height: inherit;
            
            p {
                line-height: 50px;
                margin-bottom: 0;
            }
        }
    }
}