header {
    height: 100vh;
    
    .home {
        height: 100%;
        
            h4 {
                color: $color;
                font-weight: 400;
            }
        }
    
    .social-top {
        display: none;
    }       
}

@media screen and (min-height: 600px) {
    header {
        
        .social-top {
            position: absolute;
            bottom: 2vh;
            right: 10%;
            display: block;
            
            .social-top-list {
                list-style: none;
                float: right;
                margin: auto 0;

                .social-button {
                    display: inline;
                    margin-right: 20px;
                }
            } 
        }
    }
}